<%- include ('includes/head') %>
<%- include ('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 >IDENTIFICAÇÃO DA ENTIDADE / AGRICULTOR</h1>

      
<%- include('includes/messages') %>

<% if(agricultores._id) { %> 
<form action="/<%=agricultores._id%>" method="POST" class="needs-validation" novalidate>
  <% } else { %> 
    <form action="cadastrar" method="POST" class="needs-validation" novalidate> 
  <% } %> 
  <input type="hidden" name="_csrf" value=<%= csrfToken %>>

  <div class="row d-flex m-2 ">
    <div class="col-md-6 cadastroColunas">
       <div class="form-group col-md-8">
          <div class="form-group ">
             <label for="cnpjCpf">CNPJ / CPF:*</label>
             <input value="<%= agricultores.cnpjCpf %>" type="text" class="form-control" id="cnpjCpf" name="cnpjCpf" required >
          </div>
          <label for="nome">Nome:*</label>
          <input type="text" value="<%= agricultores.nome %>" class="form-control" id="nome" name="nome" required>

          <label for="dataDeNascimento">Data de Nascimento:</label>
          <input type="text" value="<%= agricultores.dataDeNascimento %>" class="form-control" id="dataDeNascimento"  name="dataDeNascimento">

          <label for="rg">Rg:</label>
          <input type="text"value="<%= agricultores.rg %>" class="form-control" id="rg" name="rg">

          <label for="endereco">Endereço:*</label>
          <input type="text" value="<%= agricultores.endereco %>" class="form-control" id="endereco" name="endereco" required>

          <label for="numero">Numero:</label>
          <input type="text" value="<%= agricultores.numero %>" class="form-control" id="numero" name="numero">

          <label for="inscricaoEstadual">Inscrição Estadual:</label>
          <input type="text" value="<%= agricultores.inscricaoEstadual %>" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual">

          <label for="email">Email:</label>
          <input type="email" value="<%= agricultores.email %>" class="form-control" id="email" name="email">

          <label for="telefone">Telefone*:</label>
          <input type="text" value="<%= agricultores.telefone %>" class="form-control" id="telefone" name="telefone" required>

       </div>
    </div>
    <div class="col-md-6">
       <div class="form-group col-md-8 cadastroColunas">

          <label for="cnpjMatriz">CNPJ da matriz:</label>
          <input type="text" value="<%= agricultores.cnpjMatriz %>" class="form-control" id="cnpjMatriz" name="cnpjMatriz" >

          <label for="nomeFantasia">Nome Fantasia:</label>
          <input type="text" value="<%= agricultores.nomeFantasia %>" class="form-control" id="nomeFantasia"  name="nomeFantasia">

          <label for="nomePresidente">Nome do Presidente:</label>
          <input type="text" value="<%= agricultores.nomePresidente %>" class="form-control" id="nomePresidente"  name="nomePresidente">

          <label for="numeroDaPasta">Numero da Pasta*:</label>
          <input type="text" value="<%= agricultores.numeroDaPasta %>" class="form-control" id="numeroDaPasta" name="numeroDaPasta" required >

          <label for="dataDeVisita">Data de visita:</label>
          <input type="text" value="<%= agricultores.dataDeVisita %>" class="form-control" id="dataDeVisita"  name="dataDeVisita" required>

          <label for="dataDeAbertura">Data de abertura:</label>
          <input type="text" value="<%= agricultores.dataDeAbertura %>" class="form-control" id="dataDeAbertura" name="dataDeAbertura">

          <label for="dataMandato">Data do mandatado:</label>
          <input type="text" value="<%= agricultores.dataMandato %>" class="form-control" id="dataMandato" name="dataMandato">
          
          <label for="cnae">CNAE:</label>
          <input type="text" value="<%= agricultores.cnae %>" class="form-control" id="cnae" name="cnae" >

          <label for="cep">Cep:</label>
          <input type="text" value="<%= agricultores.cep %>" class="form-control" id="cep" name="cep">
       </div>
    </div>
  
    <div class="botoes">
       <button type="submit" class="btn btn-primary col-md-3 mt-3 botaoCadastro">Salvar</button>
       <button class="btn btn-primary col-md-3 mt-3 botaoCadastro" href="/">Cancelar</button>
    </div>
</form>


</div>

    <div class="col-lg-2"></div>
  </div>
</div>


<%- include('includes/footer') %>
