<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="/styles/home.css">

  <div class="container mt-2">
     <div class="row gx-5">
        <div class="col-md-6">
           <div class="d-flex blocos">
              <div class="totalQuantidade">
                 <h1>Associações</h1>
                 <h2><%= totalAgricultores %></h2>

              </div>
              <img src="/img/associacao.png"  class="icone" alt="Imagem das associações">
            </div>
         </div>
         <div class="col-md-6">
            <div class="d-flex blocos">
               <div class="totalQuantidade">
                  <h1>Pequenos Agricultores</h1>
                  <h2><%= totalAgricultores %></h2>
               </div>
               <img src="/img/agricultor.png"  class="icone" alt="Imagem de pequenos agricultor">
           </div>
           </div>
        </div>
     </div>
  </div>
  </div>


<%- include('includes/footer') %>